body {
  background: linear-gradient(90deg,#ff0000,#00ff00);
  background-size: 120% 120%;
  animation: gradient-animation 20s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
  text-align: center;
}

h1 {
  text-align: center;
}
head {
  color: aliceblue;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.animatefade {
  animation: normal;
  animation-name: fadein;
  animation-timing-function: ease-in;
  opacity: 0;
}

@keyframes fadein {
  from{
  width: 0%;
  opacity: 0%;
  text-align: right;
}
  to {
    width: 100%;
    opacity: 100%;
    text-align: center;
  }
}
